// .start_btn{
    
// }
.start_btn  {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
   
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
  
    padding:15px 30px;
    outline: none;
    border:none;
    border-radius: 5px;
    background:#FFF;
    box-shadow: 0 4px 12px rgb(165, 165, 165);

    &:hover{
        color: white;
        background:#007bff ;
    }

}
// #center-btn{
//     width: 100vw;
//     height: 80vh;
// }